<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/room.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

    <div id="roomHeader">
        {% include 'rooms/room_header.html' %}
    </div>

    {% include 'items/list_items.html' %}

    <!-- Edit Room Modal -->
    <div class="modal fade" id="editRoomModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editRoomModalLabel">Edit Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editRoomForm" name="editRoomForm" method="post">
                        <div class="mb-3">
                            <label for="editRoomBldg" class="form-label">Building</label>
                            <select class="form-control" id="editRoomBldg" name="editRoomBldg">
                                {% for building in buildings %}
                                    <option value="{{ building.id }}" {{ 'selected' if room.building.id == building.id else ''}}>{{ building.number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editRoomNumber" class="form-label">Room Number</label>
                            <input type="text" class="form-control" id="editRoomNumber" name="editRoomNumber" value="{{ room.number }}" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="editRoomForm" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteRoomModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ room.building.number }}-{{ room.number }}</strong>?</p>

                    <div class="btn-danger" style="display: flex; align-items: center; justify-content: center; font-size:1.25rem; border-radius: 15px; padding: 5px 15px;">
                        <span style="padding-left: 0; padding-right: 15px; font-size:2rem;">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span>Deleting this room will also delete all items contained in it.</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="confirmDeleteBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
