<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/items.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

	<h1 style="text-align: center;"><i class="fas fa-chair"></i> Items</h1>

    <div style="text-align: center; display: grid; grid-auto-flow: column;">
        <!-- Button trigger modal -->
        <div>
            <label for="item-search">Search: </label>
            <input id="item-search" type="text">
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchItemsModal">
                <i class="fas fa-search"></i>&nbsp;Advanced Search
            </button>
            <button type="button" class="btn btn-danger" onclick="makeResetCall()">
                <i class="fas fa-times"></i>&nbsp;Clear Search
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newItemModal">
                Create New
            </button>
        </div>
    </div>

    <div id="item_list" class="sit-item-display-container" style="margin-top: 15px;">
        {% include 'items/list_items.html' %}
    </div>

    <!-- Search Items Modal -->
    <div class="modal fade" id="searchItemsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchItemsModalLabel">Search for Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="searchItemsForm" name="searchItemsForm" method="get">
                        <div class="mb-3">
                            <label for="itemDescSearch" class="form-label">Description</label>
                            <input type="text" class="form-control" id="itemDescSearch" name="itemDescSearch"/>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="itemLowestPrice" class="form-label">Lowest Price</label>
                                    <input type="number" class="form-control" id="itemLowestPrice" name="itemLowestPrice"/>
                                </div>
                                <div class="col-6">
                                    <label for="itemHighestPrice" class="form-label">Highest Price</label>
                                    <input type="number" class="form-control" id="itemHighestPrice" name="itemHighestPrice"/>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="itemEarliestPurchaseDate" class="form-label">Earliest Purchase Date</label>
                                    <input type="date" class="form-control" id="itemEarliestPurchaseDate" name="itemEarliestPurchaseDate"/>
                                </div>
                                <div class="col-6">
                                    <label for="itemLatestPurchaseDate" class="form-label">Latest Purchase Date</label>
                                    <input type="date" class="form-control" id="itemLatestPurchaseDate" name="itemLatestPurchaseDate"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="searchItemsForm" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- New Item Modal -->
    <div class="modal fade" id="newItemModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newItemModalLabel">Create New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newItemForm" name="newItemForm" method="post">
                        <div class="mb-3">
                            <label for="itemDesc" class="form-label">Description</label>
                            <input type="text" class="form-control" id="itemDesc" name="itemDesc" required/>
                        </div>
                        <div class="mb-3">
                            <label for="itemPurchasePrice" class="form-label">Unit Purchase Price (USD)</label>
                            <input type="number" min="1" step="any" class="form-control" id="itemPurchasePrice" name="itemPurchasePrice" />
                        </div>
                        <div class="mb-3">
                            <label for="itemPurchaseDate" class="form-label">Purchase Date</label>
                            <input type="date" class="form-control" id="itemPurchaseDate" name="itemPurchaseDate" />
                        </div>
                        <div class="mb-3">
                            <label for="itemQuantity" class="form-label">Item Quantity</label>
                            <input type="number" min="1" step="any" value="1" class="form-control" id="itemQuantity" name="itemQuantity" />
                        </div>
                        <div class="mb-3">
                            <label for="itemRoom" class="form-label">Current Location</label>
                            <select class="form-control" id="itemRoom" name="itemRoom">
                                {% for room in rooms %}
                                    <option value="{{ room.id }}">{{ room.building.number }} - {{ room.number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="itemPicture">Picture</label>
                            <input type="file" class="form-control" id="itemPicture" name="itemPicture" accept="image/png, image/jpeg"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="newItemForm" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
