<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/item.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

    <div id="item-card" style="padding: 0 0 15px 0;">
        {% include 'items/item_card.html' %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editItemModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editItemForm" name="editItemForm" method="post">
                        <div class="mb-3">
                            <label for="itemDesc" class="form-label">Description</label>
                            <input type="text" class="form-control" id="itemDesc" name="itemDesc" value="{{ item.description }}" required/>
                        </div>
                        <div class="mb-3">
                            <label for="itemPurchasePrice" class="form-label">Unit Purchase Price (USD)</label>
                            <input type="number" min="1" step="any" class="form-control" id="itemPurchasePrice" name="itemPurchasePrice" value="{{ item.purchase_price }}"/>
                        </div>
                        <div class="mb-3">
                            <label for="itemPurchaseDate" class="form-label">Purchase Date</label>
                            <input type="date" class="form-control" id="itemPurchaseDate" name="itemPurchaseDate" value="{{ item.purchase_date }}"/>
                        </div>
                        <div class="mb-3">
                            <label for="itemEndOfLifeDate" class="form-label">End-of-Life Date</label>
                            <input type="date" class="form-control" id="itemEndOfLifeDate" name="itemEndOfLifeDate" value="{{ item.end_of_life_date }}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Current Condition</label><br>
                            <span style="display: grid; grid-auto-flow: column; text-align: center;">
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionBad" value="1" {{ 'checked' if item.condition == 1 else '' }}><br>
                                    <label for="itemConditionPoor">Bad</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionPoor" value="2" {{ 'checked' if item.condition == 2 else '' }}><br>
                                    <label for="itemConditionPoor">Poor</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionFair" value="3" {{ 'checked' if item.condition == 3 else '' }}><br>
                                    <label for="itemConditionFair">Fair</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionGood" value="4" {{ 'checked' if item.condition == 4 else '' }}><br>
                                    <label for="itemConditionGood">Good</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionExcellent" value="5" {{ 'checked' if item.condition == 5 else '' }}><br>
                                    <label for="itemConditionExcellent">Excellent</label>
                                </span>
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="itemQuantity" class="form-label">Item Quantity</label>
                            <input type="number" min="1" step="any" value="1" class="form-control" id="itemQuantity" name="itemQuantity" />
                        </div>
                        <div class="mb-3" id="roomSelectElem">
                        </div>
                        <div class="mb-3">
                            <label for="itemPicture">Picture</label>
                            <input type="file" class="form-control" id="itemPicture" name="itemPicture" accept="image/png, image/jpeg"/>
                        </div>
                        <div class="mb-3" id="labelSelectElem">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="editItemForm" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteItemModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ item.description }}</strong>?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="confirmDeleteBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
