<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/items.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

    <div id="item-card" style="padding: 15px;">
        <h1 style="text-align: left;">{{ item.description }}</h1>

        <p><strong>Location: </strong><i class="fas fa-building" style="margin-right: 5px;"></i> {{ item.room.building.number }} | <i class="fas fa-door-open" style="margin-right: 5px;"></i> {{ item.room.number }}</p>
        <p><strong>Purchase Price: </strong>{{ item.purchase_price_readable }}</p>
        <p><strong>Purchase Date: </strong>{{ item.purchase_date }}</p>
        <img src="data:image/png;base64, {{ item.barcode }}">
    </div>
</body>
</html>
