<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/items.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
</head>
<body>
    {% include 'header.html' %}

	<h1 style="text-align: center;"><i class="fas fa-chair"></i> Items</h1>

    <div style="text-align: center; display: grid; grid-auto-flow: column;">
        <!-- Button trigger modal -->
        <div id="searchField">
            <label for="item-search">Search: </label>
            <input id="item-search" type="text">
        </div>
        <div id="advancedSearchButtons">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchItemsModal">
                <i class="fas fa-search"></i>&nbsp;Advanced Search
            </button>
            <button type="button" class="btn btn-danger" onclick="makeResetCall()">
                <i class="fas fa-times"></i>&nbsp;Clear Search
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newItemModal">
                Create New
            </button>
        </div>
    </div>

    <div id="item_list" class="" style="margin: 15px; justify-content:center;">
        {% include 'items/list_items.html' %}
    </div>

    <!-- Search Items Modal -->
    <div class="modal fade" id="searchItemsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchItemsModalLabel">Search for Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="searchItemsForm" name="searchItemsForm" method="get">
                        <div class="mb-3">
                            <label for="itemDescSearch" class="form-label">Description</label>
                            <input type="text" class="form-control" id="itemDescSearch" name="itemDescSearch"/>
                        </div>
                        <div class="mb-3">
                            <label>Item Condition</label><br>
                            <div class="row">
                                <div class="col-6">
                                    <input type="checkbox" id="excellent" name="excellent" value="excellent">
                                    <label for="excellent"> Excellent</label><br>
                                    <input type="checkbox" id="good" name="good" value="good">
                                    <label for="good"> Good</label><br>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="fair" name="fair" value="fair">
                                    <label for="fair"> Fair</label><br>
                                    <input type="checkbox" id="poor" name="poor" value="poor">
                                    <label for="poor"> Poor</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="itemLowestPrice" class="form-label">Lowest Price</label>
                                    <input type="number" class="form-control" id="itemLowestPrice" name="itemLowestPrice"/>
                                </div>
                                <div class="col-6">
                                    <label for="itemHighestPrice" class="form-label">Highest Price</label>
                                    <input type="number" class="form-control" id="itemHighestPrice" name="itemHighestPrice"/>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="itemEarliestPurchaseDate" class="form-label">Earliest Purchase Date</label>
                                    <input type="date" class="form-control" id="itemEarliestPurchaseDate" name="itemEarliestPurchaseDate"/>
                                </div>
                                <div class="col-6">
                                    <label for="itemLatestPurchaseDate" class="form-label">Latest Purchase Date</label>
                                    <input type="date" class="form-control" id="itemLatestPurchaseDate" name="itemLatestPurchaseDate"/>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="itemBuildingSearch" class="form-label">Building</label>
                            <select class="form-control" id="itemBuildingSearch" name="itemBuildingSearch">
                                <option value="">Select Building...</option>
                                {% for building in buildings %}
                                    <option value="{{ building.id }}">{{ building.number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="itemLabelSearch" class="form-label">Label</label>
                            <select class="form-control" id="itemLabelSearch" name="itemLabelSearch">
                                <option value="">Select Label...</option>
                                {% for label in labels %}
                                    <option value="{{ label.id }}">{{ label.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="searchItemsForm" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- New Item Modal -->
    <div class="modal fade" id="newItemModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newItemModalLabel">Create New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="newItemModalLoader" class="loader"></div>
                <div id="newItemModalBody" class="modal-body">
                    <form id="newItemForm" name="newItemForm" method="post">
                        <div class="mb-3">
                            <label for="itemDesc" class="form-label">Description</label>
                            <input type="text" class="form-control" id="itemDesc" name="itemDesc" required/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Current Condition <i id="conditionHelpTrigger" class="fas fa-question-circle" style="color: gray; cursor: pointer;"></i></label><br>
                            <div id="conditionHelp" style="height: 0; overflow: hidden;">{% include 'items/condition_help.html' %}</div>
                            <span style="display: grid; grid-auto-flow: column; text-align: center;">
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionPoor" value="1"><br>
                                    <label for="itemConditionPoor">Poor</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionFair" value="2"><br>
                                    <label for="itemConditionFair">Fair</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionGood" value="3"><br>
                                    <label for="itemConditionGood">Good</label>
                                </span>
                                <span>
                                    <input type="radio" name="itemCondition" id="itemConditionExcellent" value="4" checked><br>
                                    <label for="itemConditionExcellent">Excellent</label>
                                </span>
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="itemRoom" class="form-label">Current Location</label>
                            <select class="form-control" id="itemRoom" name="itemRoom">
                                {% for room in rooms %}
                                    <option value="{{ room.id }}">{{ room.building.number }} - {{ room.number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="itemQuantity" class="form-label">Item Quantity</label>
                            <input type="number" min="1" step="any" value="1" class="form-control" id="itemQuantity" name="itemQuantity" />
                        </div>
                        <div class="mb-3">
                            <label for="itemPicture">Picture</label>
                            <input type="file" class="form-control" id="itemPicture" name="itemPicture" accept="image/png, image/jpeg"/>
                        </div>

                        <div id="showOptionalFieldsToggle" onclick="toggleOptionalFields();" style="text-align: center; color: gray; margin: 1rem 0;">
                            <i class="fas fa-caret-down"></i> Show optional fields <i class="fas fa-caret-down"></i>
                        </div>

                        <div class="mb-3" data-required="false">
                            <label for="itemPurchasePrice" class="form-label">Unit Purchase Price (USD)</label>
                            <input type="number" min="1" step="any" class="form-control" id="itemPurchasePrice" name="itemPurchasePrice" />
                        </div>
                        <div class="mb-3" data-required="false">
                            <label for="itemPurchasePriceEstimate" class="form-label">Estimated Purchase Price?</label>
                            <input type="checkbox" class="form-check-input" id="itemPurchasePriceEstimate" name="itemPurchasePriceEstimate" value="itemPurchasePriceEstimate"/> <i id="estimatedPriceHelpTrigger" class="fas fa-question-circle" style="color: gray; cursor: pointer;"></i>
                            <div id="estimatedPriceHelp" style="height: 0; overflow: hidden;">{% include 'items/estimated_price_help.html' %}</div>
                        </div>
                        <div class="mb-3" data-required="false">
                            <label for="itemPurchaseDate" class="form-label">Purchase Date</label>
                            <input type="date" class="form-control" id="itemPurchaseDate" name="itemPurchaseDate" />
                        </div>
                        <div class="mb-3" data-required="false">
                            <label for="itemEndOfLifeDate" class="form-label">End-of-Life Date</label>
                            <input type="date" class="form-control" id="itemEndOfLifeDate" name="itemEndOfLifeDate"/>
                        </div>
                        <div class="mb-3" id="labelSelectElem" data-required="false">
                            <label for="itemLabels" class="form-label">Labels</label>
                            <select class="form-control" id="itemLabels" name="itemLabels" multiple>
                                {% for label in labels %}
                                    <option value="{{ label.id }}">{{ label.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3" data-required="false">
                            <label for="itemNotes" class="form-label">Notes</label>
                            <textarea class="form-control" id="itemNotes" name="itemNotes"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="newItemFormCloseBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="newItemFormCreateBtn" form="newItemForm" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
