<div style="text-align: right;">
    <span style="margin-right: 15px;">
        (Showing {{ (page_size * selected_page) + 1 }} - {{ page_size * (selected_page + 1) }} of {{ total_items }})
    </span>

    {% if selected_page >= 2 %}
        <span class="pageBtn" onclick="goToPage({{ 0 }})"><<</span>
    {% endif %}

    {% if selected_page >= 1 %}
        <span class="pageBtn" onclick="goToPage({{ selected_page - 1 }})"><</span>
    {% endif %}

    {% if selected_page > 2 %}
        <span>...</span>
    {% endif %}

    {% for n in range(num_pages) %}
        {% if (selected_page - 2) <= n <= (selected_page + 2) %}
            <span class="pageBtn" onclick="goToPage({{ n }})" {% if selected_page == n %} style="font-weight: bold; background-color: #ddd; cursor: default;" {% endif %}>{{ n + 1 }}</span>
        {% endif %}
    {% endfor %}

    {% if selected_page < num_pages - 3 %}
        <span>...</span>
    {% endif %}


    {% if num_pages - selected_page > 1 %}
        <span class="pageBtn" onclick="goToPage({{ selected_page + 1 }})">></span>
    {% endif %}

    {% if num_pages - selected_page > 2 %}
        <span class="pageBtn" onclick="goToPage({{ num_pages - 1 }})">>></span>
    {% endif %}
</div>

<script type="application/javascript">
    function goToPage(number) {
        let url = "/api/items/page"
        $("#itemsTableLoader").css("display", "block");
        $("#itemsTable").css("filter", "blur(4px)");

        $.ajax({
            url: url,
            data: {
                'page': number
            },
            type: 'POST',
            success: function(data){
                $("#itemsTableLoader").css("display", "none");
                $("#itemsTable").css("filter", "none");

                // Update data on page
                $('#item_list').html(data);
            }
        });
    }
</script>