<div style="display:flex; justify-content: center; align-items: center;">
    <h1 style="text-align: center; display: inline-block; margin-right: 15px;">{{ item.description }}
    {% if item.quantity != 1 %}
        (x{{ item.quantity }})
    {% endif %}
    </h1>
    <span>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editItemModal" style="margin-top: -15px;">
            Edit &nbsp;<i class="fas fa-edit"></i>
        </button>
    </span>
    <span style="margin-left: 15px;">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteItemModal" style="margin-top: -15px;">
            Delete &nbsp;<i class="fas fa-trash"></i>
        </button>
    </span>
</div>

<div style="display:flex; justify-content: center; align-items: center;">
{% if item.photo %}
<img src="{{ item.photo }}" width="300">
{% endif %}
<img src="data:image/png;base64, {{ item.barcode }}" width="300">
</div>

<div style="display:flex; justify-content: center; align-items: center; gap: 25px;">
    <p style="margin-bottom: 0;"><strong>Location: </strong><i class="fas fa-building" style="margin-right: 5px;"></i> {{ item.room.building.number }} | <i class="fas fa-door-open" style="margin-right: 5px;"></i> {{ item.room.number }}</p>
    {% if item.purchase_price %}
        <p style="margin-bottom: 0;"><strong>Purchase Price: </strong>{{ item.purchase_price_readable }}</p>
    {% endif %}

    {% if item.purchase_date %}
        <p style="margin-bottom: 0;"><strong>Purchase Date: </strong>{{ item.purchase_date }}</p>
    {% endif %}
</div>

<div id="labels" style="text-align: center; margin-top: 15px;">
    {% for label in item.labels %}
    <a class="sit-inv-link sit-info-card" href="/label/{{ label.id }}" style="background-color: {{ label.color.hex_code }}; {{ 'color: white;' if label.color.white_text else '' }}">
        {{ label.text }}
    </a>
    {% endfor %}
</div>