{% include 'items/items_table_pages.html' %}
<table id="itemsTable" class="sit-item-table display" style="width:100%">
    <thead>
        <tr>
            <th data-col="picture" class="no-sort"></th>
            <th data-col="description">Item</th>
            {% if show_item_locations|default(true, false) %}
            <th data-col="location">Location</th>
            {% endif %}
            <th data-col="condition">Condition</th>
            <th data-col="quantity">Quantity</th>
            <th data-col="purchase-date">Purchase Date</th>
            <th data-col="purchase-price">Purchase Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr onclick="window.location='/item/{{ item.id }}';" style="cursor: pointer;">
            <td data-col="picture" style="padding-top: 0; padding-bottom: 0;">
                {% if item.photo %}
                    <img src="{{ item.small_photo }}" width="50">
                {% endif %}
            </td>
            <td data-col="description">{{ item.description }}</td>
            {% if show_item_locations|default(true, false) %}
            <td data-col="location"><i class="fas fa-building" style="margin-right: 5px;"></i> {{ item.room.building.number }} | <i class="fas fa-door-open" style="margin-right: 5px;"></i> {{ item.room.number }}</td>
            {% endif %}
            <td data-col="condition">
                <span class="sit-info-card" style="margin: auto; background-color: {{ item.condition.background_color }}; color: {{ item.condition.text_color }}">
                    {{ item.condition.text }}
                </span>
            </td>
            <td data-col="quantity">{{ item.quantity }}</td>
            <td data-col="purchase-date">{{ '-' if not item.purchase_date else item.purchase_date }}</td>
            <td data-col="purchase-price">{{ '-' if not item.purchase_price else item.purchase_price_readable }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script type="application/javascript">
    function hideColumn(colName) {
        $("th[data-col='" + colName + "'], td[data-col='" + colName + "']").each(function() {
            $(this).css('display', 'none');
        });
    }

    function renderItemTableForMobile() {
        // Hide detail columns
        hideColumn('purchase-date');
        hideColumn('purchase-price');
        hideColumn('condition');

    }

    if (mobileCheck() === true) {
        renderItemTableForMobile();
    }
</script>