<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/scanner.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

    <h1 style="text-align: center">Scanner</h1>
    <div style="width: 100%; display: grid">
        <div style="text-align: center;">
            <select id="videoSource" style="margin: 10px;"></select>
        </div>
        <video style="margin: auto" autoplay></video>
    </div>
</body>
</html>
