<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/scanner.js') }}"></script>
</head>
<body style="height: 100%">
    {% include 'header.html' %}

    <h1 style="text-align: center">Scanner</h1>
    <div style="width: 100%; display: grid">
        <div style="text-align: center;">
            <select id="videoSource" class="form-control" style="margin: 10px auto; width:250px;"></select>
        </div>
    </div>

    <div style="display: flex; height: 80%">
        <video style="display: flex; flex-flow: column; margin: 0 auto;" autoplay></video>
    </div>

</body>
</html>
