<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/buildings.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

	<h1 style="text-align: center;"><i class="fas fa-building" style="margin-right: 5px;"></i> Buildings</h1>

    <div style="text-align: center;">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newBldgModal">
            Create New
        </button>
    </div>

    <div id="building_list" style="margin-top: 50px;">
        {% include 'buildings/list_buildings.html' %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newBldgModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newBldgModalLabel">Create New Building</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newBldgForm" name="newBldgForm" method="post">
                        <div class="mb-3">
                            <label for="bldgNum" class="form-label">Building Name/Number</label>
                            <input type="text" class="form-control" id="bldgNum" name="bldgNum" required>
                        </div>
                    </form>
                </div>
                <div id="newBldgModalErrors" style="display: none;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="newBldgForm" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
