<html>
<head>
	<title>Suntree Inventory Tracker</title>
    {% include 'head.html' %}

    <script src="{{ url_for('static', filename='/js/building.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}

    <div id="buildingHeader">
        {% include 'buildings/building_header.html' %}
    </div>

    {% include 'rooms/list_rooms.html' %}

    <!-- New Room Modal -->
    <div class="modal fade" id="newRoomModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newRoomModalLabel">Create New Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newRoomForm" name="newRoomForm" method="post">
                        <div class="mb-3">
                            <label for="roomBldg" class="form-label">Building</label>
                            <select class="form-control" id="roomBldg" name="roomBldg">
                                {% for building in buildings %}
                                <option value="{{ building.id }}">{{ building.number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="roomNumber" class="form-label">Room Number</label>
                            <input type="text" class="form-control" id="roomNumber" name="roomNumber" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="newRoomForm" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Building Modal -->
    <div class="modal fade" id="editBuildingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBuildingModalLabel">Edit Building</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editBuildingForm" name="editBuildingForm" method="post">
                        <div class="mb-3">
                            <label for="editBuildingNumber" class="form-label">Building Number</label>
                            <input type="text" class="form-control" id="editBuildingNumber" name="editBuildingNumber" value="{{ building.number }}" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="editBuildingForm" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Building Modal -->
    <div class="modal fade" id="deleteBuildingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Building</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>Building {{ building.number }}</strong>?</p>

                    <div class="btn-danger" style="display: flex; align-items: center; justify-content: center; font-size:1.25rem; border-radius: 15px; padding: 5px 15px;">
                        <span style="padding-left: 0; padding-right: 15px; font-size:2rem;">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span>Deleting this building will also delete all rooms & items contained in it.</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="confirmDeleteBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
